<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Refugio de Mascotas</title>

   

    <!-- Fuente Life Savers -->
    <link href="https://fonts.googleapis.com/css2?family=Life+Savers:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body class="fondo-huellas">
    <!-- Navbar -->
    <header class="header-huellas">
        <div class="huellas-laterales">
            <img src="/images/huellahome.png" alt="Huella izquierda" class="huella">
            <nav class="menu-superior">
                <a asp-area="" asp-controller="Mascota" asp-action="EnAdopcion">EN ADOPCIÓN</a>
                <a asp-area="" asp-controller="Home" asp-action="Info">INFO</a>
                <a asp-area="" asp-controller="Home" asp-action="Dona">DONÁ</a>
                <a asp-area="" asp-controller="Mascota" asp-action="Adoptados">ADOPTADOS</a>
                <a asp-area="" asp-controller="Home" asp-action="FormContacto">CONTACTO</a>

                <a asp-area="Admin" asp-controller="Auth" asp-action="Login" class="btn-admin">SECCIÓN ADMIN</a>
            </nav>
            <img src="/images/huellahome.png" alt="Huella derecha" class="huella">
        </div>
    </header>


    <!-- Contenido de cada página -->
    <main class="container mt-4">
        @RenderBody()
    </main>

    <footer class="footer-fijo">
        <p>&copy; 2025 - Refugio de Mascotas</p>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>



