@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Ocurrió un error</h1>
<p class="text-warning">
    Algo salió mal, pero el sistema sigue funcionando 🚀
</p>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Volver al inicio</a>
