<h2>💌 ¡Gracias por tu solicitud!</h2>
<p>Nos pondremos en contacto pronto para continuar el proceso de adopción.</p>

<a asp-controller="Mascota" asp-action="Index" class="btn btn-secondary mt-3">Volver al inicio</a>
