@model AdopcionMascotas.Models.Mascota
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Agregar Mascota</h2>

<form asp-area="Admin" asp-controller="Mascotas" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Especie" class="control-label">Especie</label>
        @Html.DropDownListFor(
            model => model.Especie,
            new SelectList(Enum.GetValues(typeof(AdopcionMascotas.Models.EspecieMascota))),
            "-- Seleccionar especie --",
            new { @class = "form-control" })
        <span asp-validation-for="Especie" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Edad</label>
        <input asp-for="Edad" class="form-control" type="number" />
    </div>

    <div class="form-group">
    <label asp-for="Estado" class="control-label">Estado</label>
    @Html.DropDownListFor(
        model => model.Estado,
        new SelectList(Enum.GetValues(typeof(AdopcionMascotas.Models.EstadoMascota))),
        "-- Seleccionar estado --",
        new { @class = "form-control" })
    <span asp-validation-for="Estado" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Descripción</label>
        <textarea asp-for="Descripcion" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label>Imagen</label>
        <input asp-for="ImagenArchivo" type="file" class="form-control" />

    </div>
    <button type="submit" class="btn btn-success">Guardar</button>
    <a href="/Admin/Mascotas" class="btn btn-secondary">Cancelar</a>

</form>
//crear una mascota 