@model AdopcionMascotas.Models.Mascota

<h2>Eliminar Mascota</h2>

<form asp-area="Admin" asp-controller="Mascotas" asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />

    <p>¿Estás seguro de que querés eliminar a <strong>@Model.Nombre</strong>?</p>

    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-area="Admin" asp-controller="Mascotas" asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>

